* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navbar-logo {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

.navbar-logo span {
    color: #56d8f4;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-menu {
    list-style: none;
}

.navbar-item {
    display: inline-block;
}

.navbar-links {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.navbar-links:hover {
    color: #56d8f4;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background: #56d8f4;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.button:hover {
    background: #3a99d8;
}

@media screen and (max-width: 960px) {
    .navbar-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navbar-menu.active {
        background: #333;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
    }

    .navbar-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: #fff;
    }
}

.navbar-btn {
    display: none;
}

@media screen and (max-width: 960px) {
    .navbar-btn {
        display: block;
        text-align: center;
        width: 100%;
        margin: 20px 0;
    }
}